.floating {
  top: 0;
  left: 0;
  z-index: 1;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  width: 15%;
}

.floating-btn {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 0;
  right: 0;
  border-radius: 50%;
}

.floating-btn:hover {
  text-decoration: none;
}
